body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color: black;
    font-size: 45px;
}
h3{
    color: deepskyblue;
}
h5{
    color: red;
}
.fexible-contain{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 120%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(deeppink, lightpink);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: linear-gradient(rgb(151, 4, 236), rgb(159, 223, 32));
}
.bottom-banner{
    background-image: linear-gradient(rgb(159,223, 32), rgb(151, 4, 236));
    background-repeat: no-repeat;
}