body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    color: black;
    font-size: 50px;
}
h3{
    color: deepskyblue;
    font-size: 25px;
}
h5{
    color: red;
    font-size: 18px;
    font-weight: 400;
}
.fexible-contain{
    display: flex;
    margin-bottom: 120px;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 120%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(deeppink, lightpink);
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/wallpaper.jpg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
}
.bottom-banner{
    background-image: url(images/walpaperkath.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
footer p{
    text-align: center;
}